body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: bisque
  }
  
  button {
    margin: 5px;
    justify-content: space-evenly;
  }

  h1 {
        text-align: center;
  }
  .data{
    display: none;
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #141414;
    background-color: lightgray;
  }